# Creating list

In [1]:
my_list = [1,2,3]

In [2]:
my_list = ['string',100,23.2]

# Finding length of the list

In [3]:
len(my_list)

3

# Lists indexing

In [4]:
my_list[0]

'string'

# Lists slicing

In [5]:
my_list[1:]

[100, 23.2]

# Concatenating two lists

In [6]:
my_list

['string', 100, 23.2]

In [7]:
another_list = [340,24.5]

In [8]:
 my_list + another_list

['string', 100, 23.2, 340, 24.5]

In [9]:
new_list = my_list + another_list

In [10]:
new_list

['string', 100, 23.2, 340, 24.5]

# Changing elements of the lists

In [11]:
new_list[0] = 'one all'

In [12]:
new_list

['one all', 100, 23.2, 340, 24.5]

# Add element to the end of the list

In [13]:
new_list.append('six')

In [14]:
new_list

['one all', 100, 23.2, 340, 24.5, 'six']

In [15]:
new_list.append('seven')

In [16]:
new_list

['one all', 100, 23.2, 340, 24.5, 'six', 'seven']

# Removing items from the list

In [17]:
new_list.pop()

'seven'

In [18]:
new_list

['one all', 100, 23.2, 340, 24.5, 'six']

In [19]:
popped_item = new_list.pop()

In [20]:
popped_item

'six'

In [21]:
new_list

['one all', 100, 23.2, 340, 24.5]

In [22]:
new_list.pop(0)

'one all'

In [23]:
new_list

[100, 23.2, 340, 24.5]

# Sort and Reverse method

In [24]:
new_list = ['a' ,'e' , 'x', 'b' , 'c']
num_list = [4,1,8,3]

In [25]:
new_list.sort()

In [26]:
new_list

['a', 'b', 'c', 'e', 'x']

In [29]:
new_list.sort()
my_sorted_list = new_list

In [30]:
my_sorted_list

['a', 'b', 'c', 'e', 'x']

In [31]:
num_list.sort()

In [32]:
num_list

[1, 3, 4, 8]

In [33]:
num_list.reverse()

In [34]:
num_list

[8, 4, 3, 1]